body{
margin: 0;
font-family: Arial, Helvetica, sans-serif;
    }
header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 20px;
background: black;
color: white;
    }
header img{
height: 45px;
    }
nav a{
color: white;
margin-left: 15px;
font-size: 14px;
margin-right: 10px;
padding-right: 30px;
text-decoration: none;
    }
.model {
width: 100%;
display: block;
    }
.order{
text-align: center;
    }
.order h2 {
font-size: 30px;
margin-bottom: 15px;
    }
.shirt{
width: 600px;
    }
.order h3{
padding: 0;
    }

nav{
display: flex;
gap: 30px;
}
nav a{
color: white;
text-decoration: none;
}
.container{
display: flex;
justify-content: center;
align-items: flex-start;
gap: 60px;
padding: 60px 40px;
}
.container img {
width: 750px;
}
.details h1{
margin-bottom: 25px;
margin-top: 25px;
font-size: 30px

}
.price{
font-size: 18px;
font-weight: bold;
margin-bottom: 25px;
}


.sizes{
display: flex;
gap: 20px;
margin-top: 10px;
}
.sizes input{
display: none;
}
.sizes label{
font-size: 17px;
padding: 6px 14px;
border: 2px solid black;
cursor: pointer;
transition: 0.2s;
}
.sizes input:checked + label{
background: black;
color: white;
 }
 .buy{
margin-top: 40px;
display: block;
width: 100%;
 padding: 15px;
background: #333;
color: white;
text-align: center;
font-size: 18px;
border-radius: 10px;
text-decoration: none;
 }

h1 {
margin: 0;
font-size: 45px;
letter-spacing: 2px;
margin-bottom: 5px;
        
    }


.form-group {
margin-bottom: 20px;
    }

label {
 display: block;
 text-align: center;
font-size: 20px;
font-weight: bold;
margin-bottom: 5px;
        
    }

input, textarea {
width: 50%;
padding: 10px;
font-size: 16px;
border: 1px solid #ccc;
border-radius: 4px;

display: block;   
margin: 0 auto;       
}

        
    

textarea {
resize: vertical;
height: 100px;
    }

.submit {
margin: 40px auto 0 auto;
display: block;
width: 50%;
 padding: 15px;
background: #333;
color: white;
text-align: center;
font-size: 18px;
border-radius: 10px;
text-decoration: none;
    }
.size{
display: block;
margin: 40px auto;
max-width: 90%;
text-align: center;
padding: 40px ;
}

.thanks {
margin: 0;
font-size: 45px;
letter-spacing: 2px;
text-align: center;
font-size: 50px;
    }

   





    

    

